.aboutShow{
    position: relative;
    width: 100%;
    height: 90vh;
}
.showImage{
    position: absolute;
    top: 0;
    right: 0;
    /* width: 100%; */
    height: 100%;
    object-fit: cover
    /* aspect-ratio: 3/2; */
}
.mask{
    position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
}

.light{
    color: darkgrey;
}
.showDetail{
    margin: auto 1rem auto 0;
}
.desc{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    bottom: 0;
    /* border: 2px solid red; */
    padding: 1rem 2rem;
}
.desc > *{
    margin-bottom: 0.5rem;
}
.desc h2{
    margin-bottom: 2rem;
    font-weight: 600;
}

.showSummary{
    width: 60%;
    text-align: justify;
    overflow: hidden;
}

.showGenre{
    font-weight: 500;
}
.modal{
    color: black;
}
.btn-number{
    color: black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width:767px) {
    .desc{
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));

    }
   .showSummary{
    width: 80%;

   }
}
@media screen and (max-width:600px) {
   .showSummary{
    width: 100%;
   }
}
@media screen and (max-width:500px) {
   .desc{
    position: static;
   }
   .showImage{
    position: static;
    width: 100%;
   }
   .mask{
    display: none;
    background: black
    
   }
}