.carousel{
    height: 90vh;
    width: 70vw;
    margin: auto;
    overflow: hidden;
  }
  .carouselImg{
    width: 100%;
    
  }
  .carouselCaption{
    color: white;
    font-size: 3rem;
    top: 5%;
    mix-blend-mode: difference;
  }
  
  @media screen and (max-width:767px) {
    .carouselImg{
      height: 60vh;
      width: 100%;
      object-fit: contain;
    }
    .carousel{
      width: 95vw;
      height: 60vh;
    }
    .carouselCaption{
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width:500px) {
    .carouselImg{
      height: 40vh;
      width: 100%;
      object-fit: contain;
    }
    .carousel{
      width: 95vw;
      height: 50vh;
    }
    .carouselCaption{
      display: none;
    }
  }