.flexBox{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1100px;
  /* border: 2px solid red; */
}

.noData{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel{
  height: 90vh;
  width: 70vw;
  margin: auto;
  overflow: hidden;
}
.carouselImg{
  width: 100%;
  
}
.carouselCaption{
  color: white;
  font-size: 3rem;
  top: 5%;
  mix-blend-mode: difference;
}

@media screen and (max-width:767px) {
  .carouselImg{
    height: 60vh;
    width: 100%;
    object-fit: contain;
  }
  .carousel{
    width: 95vw;
    height: 60vh;
  }
  .carouselCaption{
    font-size: 1.5rem;
  }
}
@media screen and (max-width:500px) {
  .carouselImg{
    height: 40vh;
    width: 100%;
    object-fit: contain;
  }
  .carousel{
    width: 95vw;
    height: 50vh;
  }
  .carouselCaption{
    display: none;
  }
}